In [1]:
import sys
import os
import pandas as pd  # Añadimos pandas aquí para usar pd.set_option()

# Añadir la ruta donde está ubicado 'main.py'
sys.path.append(os.path.abspath('../src'))

from main import (cargar_datos, limpiar_datos, filtrar_por_clientes_comunes, 
                  convertir_tipos_datos, renombrar_columnas_y_fusionar, calcular_medias_percentiles, 
                  clasificar_clientes, analizar_pasos, construir_df_vanguard)

# 1. Cargar los datos
df_final_demo, df_final_experiment_clients, df_pt = cargar_datos()

# 2. Limpiar los datos
df_final_demo, df_final_experiment_clients, df_pt = limpiar_datos(df_final_demo, df_final_experiment_clients, df_pt)

# 3. Filtrar los client_ids comunes
df_final_demo, df_final_experiment_clients, df_pt = filtrar_por_clientes_comunes(df_final_demo, df_final_experiment_clients, df_pt)

# 4. Convertir tipos de datos
df_final_demo, df_pt = convertir_tipos_datos(df_final_demo, df_pt)

# 5. Renombrar columnas y fusionar DataFrames
df_final, df_pt = renombrar_columnas_y_fusionar(df_final_experiment_clients, df_final_demo, df_pt)

# 6. Clasificar clientes
medias = calcular_medias_percentiles(df_final)
df_final = clasificar_clientes(df_final, medias[:4], medias[4:])

# 7. Analizar pasos en df_pt
df_pt = analizar_pasos(df_pt)

# 8. Construir el DataFrame final df_vanguard
df_vanguard = construir_df_vanguard(df_final, df_pt)

# Configuración para mostrar todas las columnas
pd.set_option('display.max_columns', None)

# Mostrar el DataFrame final
df_vanguard

,client_id,visitor_id,visit_id,step,date_time,step_order,step_diff,non_linear,step_repeat_count,time_diff,total_time_in_step,lineal,variation,tenure_years,tenure_months,age,gender,num_accounts,balance,calls_6_months,logons_6_months,group,activity,age_group,balance_category,activity_category,tenure_category
0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,1,0.0,False,1,0.0,0.0,True,Test,3,46,29.5,U,2,25454.66,2,6,General,8,Young,Low,Medium,0-5
1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,2,1.0,False,1,7.0,7.0,True,Test,3,46,29.5,U,2,25454.66,2,6,General,8,Young,Low,Medium,0-5
2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,3,1.0,False,1,32.0,39.0,True,Test,3,46,29.5,U,2,25454.66,2,6,General,8,Young,Low,Medium,0-5
3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,4,1.0,False,1,99.0,138.0,True,Test,3,46,29.5,U,2,25454.66,2,6,General,8,Young,Low,Medium,0-5
4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,5,1.0,False,1,20.0,158.0,True,Test,3,46,29.5,U,2,25454.66,2,6,General,8,Young,Low,Medium,0-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317118,9999729,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,5,1.0,False,1,21.0,75.0,True,Test,10,124,31.0,F,3,107059.74,6,9,General,15,Young,High,High,6-10
317119,9999729,604429154_69247391147,99583652_41711450505_426179,start,2017-04-05 13:40:49,1,0.0,False,1,0.0,0.0,False,Test,10,124,31.0,F,3,107059.74,6,9,General,15,Young,High,High,6-10
317120,9999729,604429154_69247391147,99583652_41711450505_426179,step_1,2017-04-05 13:41:04,2,1.0,False,1,15.0,15.0,False,Test,10,124,31.0,F,3,107059.74,6,9,General,15,Young,High,High,6-10
317121,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,1,0.0,False,1,0.0,0.0,False,Test,23,281,49.0,F,2,431887.61,1,4,General,5,Middle-aged,High,Low,21+
317122,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,2,1.0,False,1,8.0,8.0,False,Test,23,281,49.0,F,2,431887.61,1,4,General,5,Middle-aged,High,Low,21+